<style media="screen">
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .carousel-item .img-fluid {
    width:100%;
    height:700px;
  }
  .carousel-cell {
    margin-right: 30px;
  }
  .carousel-cell img{
    display:block;
    height: 300px;
  }
  .flickity-page-dots .dot{
    background: transparent;
    border: 2px solid white;
  }
</style>
