<style media="screen">
  /*Welcome carousel*/
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .carousel-item .img-fluid {
    width:100%;
    height:700px;
  }

  /*Flickity carousel*/
  .carousel-cell {
    margin-right: 30px;
  }
  .carousel-cell img{
    display:block;
    height: 300px;
  }
  .flickity-page-dots .dot{
    background: transparent;
    border: 2px solid white;
  }

  /*Packery Css*/
  .grid{
    background: #414345;
  }

  .grid-item,.grid-image-item {
    background: #FF8C00;
    border: 6px solid #343A40;
    cursor: grab;
  }
  .grid-item.is-pointer-down,.grid-image-item.is-pointer-down {
    border: 6px solid #8B0000;
    cursor: grabbing;
  }
  .packery-drop-placeholder {
    outline: 3px dashed #F5FFFA;
    outline-offset: -6px;
    cursor: grabbing;
    /* transition position changing */
    -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
  }
  .grid-item-sm {
    width: 90px;
    height: 90px;
  }
  .grid-item-md {
    width: 180px;
    height: 180px;
  }
  .grid-item-lg {
    width: 270px;
    height: 270px;
  }

</style>
